PORT=3000
MONGO_URI=mongodb://localhost:27017/anvaya
ALLOWED_ORIGINS=http://localhost:5173,shop.dev.cloud
# For MongoDB Atlas, use:
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/anvaya
